In [1]:
import pandas as pd
from pandas import DataFrame

In [3]:
name_list = ['liyao', 'zhangya', 'liwei', 'liuyafei', 'macheng']
age_list = [21, 22, 23, 24, 25]
sex_list = ['male', 'female', 'male', 'female', 'unknow']
data = {
    'name': name_list,
    'age': age_list,
    'sex': sex_list
}
df = DataFrame(data)

In [4]:
df

   age      name     sex
0   21     liyao    male
1   22   zhangya  female
2   23     liwei    male
3   24  liuyafei  female
4   25   macheng  unknow

In [5]:
# 访问dataframe的索引

df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# 访问dataframe的列

df.columns

Index(['age', 'name', 'sex'], dtype='object')

In [8]:
df.name

0       liyao
1     zhangya
2       liwei
3    liuyafei
4     macheng
Name: name, dtype: object

In [9]:
df['age']

0    21
1    22
2    23
3    24
4    25
Name: age, dtype: int64

In [17]:
df.index = ['a', 'b', 'c', 'd', 'e']

In [18]:
df

   age      name     sex
a   21     liyao    male
b   22   zhangya  female
c   23     liwei    male
d   24  liuyafei  female
e   25   macheng  unknow

In [20]:
# 删除行, 同样原数据没变化, 变化的是复制的数据

df.drop(['a', 'd'])

   age     name     sex
b   22  zhangya  female
c   23    liwei    male
e   25  macheng  unknow

In [22]:
# 删除列, 要加axis=1

df.drop('sex', axis=1)

   age      name
a   21     liyao
b   22   zhangya
c   23     liwei
d   24  liuyafei
e   25   macheng