In [1]:
import pandas as pd
from numpy import nan as NA

In [2]:
series = pd.Series([2, NA, 5, 1, NA, 7])

In [3]:
series

0    2.0
1    NaN
2    5.0
3    1.0
4    NaN
5    7.0
dtype: float64

In [4]:
# 判断是否为空

series.isnull()

0    False
1     True
2    False
3    False
4     True
5    False
dtype: bool

In [6]:
# Series去掉NA值

series.dropna()

0    2.0
2    5.0
3    1.0
5    7.0
dtype: float64

In [10]:
df = pd.DataFrame([[1, 2, 3],[4, NA, NA],[NA, NA, NA],[7, 8, NA]])

In [11]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN
3  7.0  8.0  NaN

In [12]:
# 所有有NA行值都去掉

df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [13]:
# 所有有NA列值都去掉

df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [15]:
# 去掉全是NA值得行, 用how='all' , 加上axis=1表示去掉全是NA值的列

df.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  NaN
3  7.0  8.0  NaN

In [23]:
df.dropna(thresh=3)

     0    1    2
0  1.0  2.0  3.0

In [24]:
# 复制数据

df_copy = df.copy()

In [25]:
# 填充数据，默认是返回的新对象，非原数据，要在原数据上修改，可以加上inplace=True

df_copy.fillna(0)

     0    1    2
0  1.0  2.0  3.0
1  4.0  0.0  0.0
2  0.0  0.0  0.0
3  7.0  8.0  0.0

In [28]:
df_copy.fillna(1,inplace=True)

In [29]:
df_copy

     0    1    2
0  1.0  2.0  3.0
1  4.0  1.0  1.0
2  1.0  1.0  1.0
3  7.0  8.0  1.0

In [32]:
# 通过字典填充

df.fillna({1:100,3:200})

     0      1    2
0  1.0    2.0  3.0
1  4.0  100.0  NaN
2  NaN  100.0  NaN
3  7.0    8.0  NaN