In [1]:
from pandas import DataFrame

In [3]:
df = DataFrame([[1,2,5],[9,2,7],[8,1,3],[5,4,3]])

In [4]:
df

   0  1  2
0  1  2  5
1  9  2  7
2  8  1  3
3  5  4  3

In [5]:
df.sum()

0    23
1     9
2    18
dtype: int64

In [6]:
df.mean(axis=1)

0    2.666667
1    6.000000
2    4.000000
3    4.000000
dtype: float64

In [7]:
# 最大值的位置

df.idxmax()

0    1
1    3
2    1
dtype: int64

In [9]:
# 最小值的位置

df.idxmin(axis=1)

0    0
1    1
2    1
3    2
dtype: int64

In [10]:
# 累积和

df.cumsum()

    0  1   2
0   1  2   5
1  10  4  12
2  18  5  15
3  23  9  18

In [11]:
df.describe()

              0         1         2
count  4.000000  4.000000  4.000000
mean   5.750000  2.250000  4.500000
std    3.593976  1.258306  1.914854
min    1.000000  1.000000  3.000000
25%    4.000000  1.750000  3.000000
50%    6.500000  2.000000  4.000000
75%    8.250000  2.500000  5.500000
max    9.000000  4.000000  7.000000

In [12]:
import numpy as np

In [15]:
df_has_nan = DataFrame([[1.4, 3.5, np.nan, 2.7], [6.3, np.nan, 1.5, 3.2]])

In [16]:
df_has_nan

     0    1    2    3
0  1.4  3.5  NaN  2.7
1  6.3  NaN  1.5  3.2

In [17]:
df_has_nan.sum()

0    7.7
1    3.5
2    1.5
3    5.9
dtype: float64

In [20]:
# 排除缺失值,默认是True,

df_has_nan.sum(skipna=False)

0    7.7
1    NaN
2    NaN
3    5.9
dtype: float64